*{
	margin: 0px auto;

}
.handshake{
	width: 98%;
	height: 950px;
	border-radius: 10px;
	background-color: #fff;

}
.handshake h2{
	text-align: center;
	padding-top: 10px;
}
.five_handshake{
	width: 19%;
	height:920px;
	float: left;
	margin-left: 11px;
	
	
}

.text_box{
	  width: 55%;
  	  background-color: #fff;
      margin-top: -12px;
      height: 25px;
}
.text_box h2{
	  font-size: 18px;
	padding-top: 0px;
}
.ecosystem{
	width: 100%;
	height: 235px;
	background-color:black;
	border-radius: 12px;
	margin-top: 20px;
	float: left; 
	transition: transform .2s;
}
.inner_ecosystem{
	width: 97%;
	height: 227px;
	background-color: #E8E8E8;
	border-radius: 12px;
	margin-top: 4px;
	float: left; 
	transition: transform .2s;
	margin-left: 4px;
}
.ecosystem2{
	width: 100%;
	height: 110px;
	background-color:black;
	border-radius: 12px;
	margin-top: 20px;
	float: left; 
	transition: transform .2s;
}
.inner_ecosystem2{
	width: 97%;
	height: 102px;
	background-color: #E8E8E8;
	border-radius: 12px;
	margin-top: 4px;
	float: left; 
	transition: transform .2s;
	margin-left: 4px;
}
.ecosystem3{
	width: 100%;
	height: 152px;
	background-color:black;
	border-radius: 12px;
	margin-top: 20px;
	float: left; 
	transition: transform .2s;
}
.inner_ecosystem3{
	width: 97%;
	height: 142px;
	background-color: #E8E8E8;
	border-radius: 12px;
	margin-top: 4px;
	float: left; 
	transition: transform .2s;
	margin-left: 4px;
}
.ecosystem4{
	width: 100%;
	height: 110px;
	background-color:black;
	border-radius: 12px;
	margin-top: 20px;
	float: left; 
	transition: transform .2s;
}
.inner_ecosystem4{
	width: 97%;
	height: 102px;
	background-color: #E8E8E8;
	border-radius: 12px;
	margin-top: 4px;
	float: left; 
	transition: transform .2s;
	margin-left: 4px;
}
.ecosystem5{
	width: 100%;
	height: 195px;
	background-color:black;
	border-radius: 12px;
	margin-top: 20px;
	float: left; 
	transition: transform .2s;
}
.inner_ecosystem5{
	width: 97%;
	height: 187px;
	background-color: #E8E8E8;
	border-radius: 12px;
	margin-top: 4px;
	float: left; 
	transition: transform .2s;
	margin-left: 4px;
}
.every_box{
	width: 90%;
	height: 35px;
	border-radius: 10px;
	margin-top: 7px;
	transition: transform .2s;

}
.every_box:hover {
  -ms-transform: scale(1.01); /* IE 9 */
  -webkit-transform: scale(1.01); /* Safari 3-8 */
  transform: scale(1.01); 
	background-color:#FFFFFF;
	box-shadow: 0px 0px 34px -14px;
}
.first_box{
	width: 20%;
	height: 35px;
	float: left;
}

.second_box{
	width: 80%;
	float: right;
	height: 35px;
}
.first_box img {
	width: 75%;
	margin-top: 2px;
	margin-left: 10px;
}
.second_box h3{
	float: left;
	font-weight: 100;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 20px;
	margin-top: 5px;
	margin-left: 10px;
	color: #393939;
}

.first_box1{
	width: 20%;
	height: 35px;
	float: left;
}

.second_box1{
	width: 25%;
	height: 35px;
	float: left;
}
.first_box1 img {
	width: 75%;
	margin-top: 2px;
	margin-left: 10px;
}
.second_box1 h3{
	float: left;
	font-weight: 100;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 20px;
	margin-top: 5px;
	margin-left: 10px;
}
.ecosystem_second1{
	width: 100%;
	height: 200px;
	background-color:black;
	border-radius: 12px;
	margin-top: 20px;
	float: left; 
	transition: transform .2s;
}
.inner_ecosystem_second1{
	width: 97%;
	height: 192px;
	background-color: #E8E8E8;
	border-radius: 12px;
	margin-top: 4px;
	float: left; 
	transition: transform .2s;
	margin-left: 4px;
}
.ecosystem_second2{
	width: 100%;
	height: 172px;
	background-color:black;
	border-radius: 12px;
	margin-top: 20px;
	float: left; 
	transition: transform .2s;
}
.inner_ecosystem_second2{
	width: 97%;
	height: 164px;
	background-color: #E8E8E8;
	border-radius: 12px;
	margin-top: 4px;
	float: left; 
	transition: transform .2s;
	margin-left: 4px;
}
.ecosystem_second3{
	width: 100%;
	height: 330px;
	background-color:black;
	border-radius: 12px;
	margin-top: 20px;
	float: left; 
	transition: transform .2s;
}
.inner_ecosystem_second3{
	width: 97%;
	height: 322px;
	background-color: #E8E8E8;
	border-radius: 12px;
	margin-top: 4px;
	float: left; 
	transition: transform .2s;
	margin-left: 4px;
}
.ecosystem_second4{
	width: 100%;
	height: 120px;
	background-color:black;
	border-radius: 12px;
	margin-top: 20px;
	float: left; 
	transition: transform .2s;
}
.inner_ecosystem_second4{
	width: 97%;
	height: 112px;
	background-color: #E8E8E8;
	border-radius: 12px;
	margin-top: 4px;
	float: left; 
	transition: transform .2s;
	margin-left: 4px;
}
.ecosystem_third1{
	width: 100%;
	height: 320px;
	background-color:black;
	border-radius: 12px;
	margin-top: 20px;
	float: left; 
	transition: transform .2s;
}
.inner_ecosystem_third1{
	width: 97%;
	height: 312px;
	background-color: #E8E8E8;
	border-radius: 12px;
	margin-top: 4px;
	float: left; 
	transition: transform .2s;
	margin-left: 4px;
}
.ecosystem_third2{
	width: 100%;
	height: 70px;
	background-color:black;
	border-radius: 12px;
	margin-top: 20px;
	float: left; 
	transition: transform .2s;
}
.inner_ecosystem_third2{
	width: 97%;
	height: 62px;
	background-color: #E8E8E8;
	border-radius: 12px;
	margin-top: 4px;
	float: left; 
	transition: transform .2s;
	margin-left: 4px;
}
.inner_ecosystem_third3{
	width: 100%;
	height: 154px;
	background-color:black;
	border-radius: 12px;
	margin-top: 20px;
	float: left; 
	transition: transform .2s;
}
.ecosystem_third3{
	width: 100%;
	height: 154px;
	background-color:black;
	border-radius: 12px;
	margin-top: 20px;
	float: left; 
	transition: transform .2s;
}
.inner_ecosystem_third3{
	width: 97%;
	height: 146px;
	background-color: #E8E8E8;
	border-radius: 12px;
	margin-top: 4px;
	float: left; 
	transition: transform .2s;
	margin-left: 4px;
}
.ecosystem_third4{
	width: 100%;
	height: 195px;
	background-color:black;
	border-radius: 12px;
	margin-top: 20px;
	float: left; 
	transition: transform .2s;
}
.inner_ecosystem_third4{
	width: 97%;
	height: 187px;
	background-color: #E8E8E8;
	border-radius: 12px;
	margin-top: 4px;
	float: left; 
	transition: transform .2s;
	margin-left: 4px;
}
.ecosystem_forth1{
	width: 100%;
	height: 235px;
	background-color:black;
	border-radius: 12px;
	margin-top: 20px;
	float: left; 
	transition: transform .2s;
}
.inner_ecosystem_forth1{
	width: 97%;
	height: 227px;
	background-color: #E8E8E8;
	border-radius: 12px;
	margin-top: 4px;
	float: left; 
	transition: transform .2s;
	margin-left: 4px;
}
.ecosystem_forth2{
	width: 100%;
	height: 195px;
	background-color:black;
	border-radius: 12px;
	margin-top: 20px;
	float: left; 
	transition: transform .2s;
}
.inner_ecosystem_forth2{
	width: 97%;
	height: 187px;
	background-color: #E8E8E8;
	border-radius: 12px;
	margin-top: 4px;
	float: left; 
	transition: transform .2s;
	margin-left: 4px;
}
.ecosystem_fifth1{
	width: 100%;
	height: 244px;
	background-color:black;
	border-radius: 12px;
	margin-top: 20px;
	float: left; 
	transition: transform .2s;
}
.inner_ecosystem_fifth1{
	width: 97%;
	height: 236px;
	background-color: #E8E8E8;
	border-radius: 12px;
	margin-top: 4px;
	float: left; 
	transition: transform .2s;
	margin-left: 4px;
}
.ecosystem_fifth2{
	width: 100%;
	height: 160px;
	background-color:black;
	border-radius: 12px;
	margin-top: 20px;
	float: left; 
	transition: transform .2s;
}
.inner_ecosystem_fifth2{
	width: 97%;
	height: 152px;
	background-color: #E8E8E8;
	border-radius: 12px;
	margin-top: 4px;
	float: left; 
	transition: transform .2s;
	margin-left: 4px;
}
.ecosystem_fifth3{
	width: 100%;
	height: 160px;
	background-color:black;
	border-radius: 12px;
	margin-top: 20px;
	float: left; 
	transition: transform .2s;
}
.inner_ecosystem_fifth3{
	width: 97%;
	height: 152px;
	background-color: #E8E8E8;
	border-radius: 12px;
	margin-top: 4px;
	float: left; 
	transition: transform .2s;
	margin-left: 4px;
}
.ecosystem_fifth4{
	width: 100%;
	height: 244px;
	background-color:black;
	border-radius: 12px;
	margin-top: 20px;
	float: left; 
	transition: transform .2s;
}
.inner_ecosystem_fifth4{
	width: 97%;
	height: 236px;
	background-color: #E8E8E8;
	border-radius: 12px;
	margin-top: 4px;
	float: left; 
	transition: transform .2s;
	margin-left: 4px;
}
@media only screen and (max-width:1080px){
.text_box {
  width: 67%;
}
.five_handshake {
  width: 19%;
  height: 920px;
  margin-left: 9px;
}
.inner_ecosystem {
  width: 97%;
  height: 229px;
  border-radius: 12px;
  margin-top: 3px;
  margin-left: 3px;
}
.inner_ecosystem2 {
  width: 97%;
  height:104px;
  border-radius: 12px;
  margin-top: 3px;
  margin-left: 3px;
}

.inner_ecosystem3 {
  width: 97%;
  height:146px;
  border-radius: 12px;
  margin-top: 3px;
  margin-left: 3px;
}
.inner_ecosystem4 {
  width: 97%;
  height: 104px;
  border-radius: 12px;
  margin-top: 3px;
  margin-left: 3px;
}
.inner_ecosystem5 {
  width: 97%;
  height: 189px;
  border-radius: 12px;
  margin-top: 3px;
  margin-left: 3px;
}
.inner_ecosystem_second1{
 height: 194px;
  border-radius: 12px;
  margin-top: 3px;
  margin-left: 3px;
}
.inner_ecosystem_second2{
 height: 166px;
  border-radius: 12px;
  margin-top: 3px;
  margin-left: 3px;
}
.inner_ecosystem_second3{
 height: 324px;
  border-radius: 12px;
  margin-top: 3px;
  margin-left: 3px;
}
.inner_ecosystem_second4{
 height: 114px;
  border-radius: 12px;
  margin-top: 3px;
  margin-left: 3px;
}
.inner_ecosystem_third1{
 height: 314px;
  border-radius: 12px;
  margin-top: 3px;
  margin-left: 3px;
}
.inner_ecosystem_third2{
 height: 64px;
  border-radius: 12px;
  margin-top: 3px;
  margin-left: 3px;
}
.inner_ecosystem_third3{
 height: 148px;
  border-radius: 12px;
  margin-top: 3px;
  margin-left: 3px;
}
.inner_ecosystem_third4{
 height: 189px;
  border-radius: 12px;
  margin-top: 3px;
  margin-left: 3px;
}
.inner_ecosystem_forth1{
 height: 229px;
  border-radius: 12px;
  margin-top: 3px;
  margin-left: 3px;
}
.inner_ecosystem_forth2{
 height: 189px;
  border-radius: 12px;
  margin-top: 3px;
  margin-left: 3px;
}
.inner_ecosystem_fifth1{
 height: 238px;
  border-radius: 12px;
  margin-top: 3px;
  margin-left: 3px;
}
.inner_ecosystem_fifth2{
 height: 154px;
  border-radius: 12px;
  margin-top: 3px;
  margin-left: 3px;
}
.inner_ecosystem_fifth3{
 height: 154px;
  border-radius: 12px;
  margin-top: 3px;
  margin-left: 3px;
}
.inner_ecosystem_fifth4{
 height: 238px;
  border-radius: 12px;
  margin-top: 3px;
  margin-left: 3px;
}
.second_box h3 {
  font-size: 17px;
  margin-top: 5px;
  margin-left: -1px;
}
.first_box img {
  margin-left: 4px;
  margin-top: 3px;
}
}
@media only screen and (max-width:768px){
.five_handshake {
  	width: 32%;
	height: 920px;
	margin-left: 7px;
}	
.inner_ecosystem {
  margin-left: 3.2px;
}
.inner_ecosystem_second1 {
  margin-left: 3.5px;
}
.inner_ecosystem_third1 {
  margin-left: 3.5px;
}
.inner_ecosystem2 {
  margin-left: 3.2px;
}
.inner_ecosystem_second2 {
  margin-left: 3.5px;
}
.inner_ecosystem_third2 {
  margin-left: 3.5px;
}
.inner_ecosystem3 {
  margin-left: 3.2px;
}
.inner_ecosystem_second3 {
  margin-left: 3.5px;
}
.inner_ecosystem_third3 {
  margin-left: 3.5px;
}
}
@media only screen and (max-width:480px){
	
.five_handshake {
  width: 95%;
  
}
.inner_ecosystem {
  width: 98%;
margin-left: 4px;
}
.inner_ecosystem2 {
  width: 98%;
margin-left: 4px;
}
.inner_ecosystem3 {
  width: 98%;
margin-left: 4px;
}
.inner_ecosystem4 {
  width: 98%;
margin-left: 4px;
}
.inner_ecosystem5 {
  width: 98%;
margin-left: 4px;
}
.inner_ecosystem_second1 {
  width: 98%;
margin-left: 4px;
}
.inner_ecosystem_second2 {
  width: 98%;
margin-left: 4px;
}
.inner_ecosystem_second3 {
  width: 98%;
margin-left: 4px;
}
.inner_ecosystem_second4 {
 width: 98%;
margin-left: 4px;
}

.inner_ecosystem_third1 {
 width: 98%;
margin-left: 4px;
}	
.inner_ecosystem_third2 {
 width: 98%;
margin-left: 4px;
}	
.inner_ecosystem_third3 {
 width: 98%;
margin-left: 4px;
}	
.inner_ecosystem_third4 {
 width: 98%;
margin-left: 4px;
}	
.inner_ecosystem_forth1 {
 width: 98%;
margin-left: 4px;
}	
.inner_ecosystem_forth2 {
 width: 98%;
margin-left: 4px;
}	
.inner_ecosystem_forth3 {
 width: 98%;
margin-left: 4px;
}	
.inner_ecosystem_forth4 {
 width: 98%;
margin-left: 4px;
}	
.inner_ecosystem_fifth1 {
 width: 98%;
margin-left: 4px;
}
.inner_ecosystem_fifth2 {
 width: 98%;
margin-left: 4px;
}
.inner_ecosystem_fifth3 {
 width: 98%;
margin-left: 4px;
}
.inner_ecosystem_fifth4 {
 width: 98%;
margin-left: 4px;
}
.first_box img {
  width: 45%;
  margin-top: 1px;
  margin-left: 20px;
}
.first_box1 img {
  width: 45%;
  margin-top: 2px;
  margin-left: 20px;
}
}
